/* START Academy Patch M#062 Forum Aggregation block customisations. */
.block_forum_aggregator .forum_title {
    text-align:center;
    font-weight:bold;
    margin-top:3px;
    padding: 3px 0px 3px 0px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}
.block_forum_aggregator .post {
    border-bottom: 1px solid #ddd;
    padding: 0.5em 0;
}
.block_forum_aggregator .post .postreadmore {
}
.block_forum_aggregator .content .head {
    margin-top:3px;
}
.block_forum_aggregator .userpostpic {
    float:left;
    margin-right:3px;
}
.block_forum_aggregator .post div.head {
    font-size: 1em;
}
.block_forum_aggregator .post div.head .subject {
    font-weight:bold;
}
.block_forum_aggregator .post div.head .date {
    color: #999;
    float: left;
}
.block_forum_aggregator .post .more {
    text-align: right;
    color: #999;
}
.block_forum_aggregator .no_posts {
    text-align:center;
    font-size: 1em;
    margin-top:3px;
}
.block_forum_aggregator .forums td {
    padding:5px;
}
.block_forum_aggregator .forums .header {
    font-weight:bold;
}
/* END Academy Patch M#062 */
